<div class="container">
  <div class="row">
    <div class="col-12 text-center">
      <h1 class="about my-5"><strong>About</strong></h1>
      <div>
        <p class="h4">
          Be yourselfはコーディネートを楽しむサイトです。<br>
          お気軽にコーディネートを投稿・共有することで<br>
          オシャレなあの人のお洋服をチェック。<br>
          お好きなコーディネートを登録して、<br>
          ファッションを楽しもう！
        </p>
      </div>
      <div><%= image_tag 'mv.jpeg', size: "600x400" %></div>
    </div>
  </div>
</div>


