<div class="container">
  <div class="row">
    <div class="col-12 text-center">
      <h1 class="about my-5"><strong>About</strong></h1>
      <div>
        <p class="h4">
          Be yourselfはコーディネートを楽しむサイトです。<br>
          お子様からお年寄りの方までお召し上がりいただけるよう、<br>
          様々なバリエーションをご用意しております。<br>
          また、全国に発送可能ですので「いつ」でも「どこ」でもご注文いただけます。<br>
          ぜひご注文ください。
        </p>
      </div>
      <div><%= image_tag 'mv.jpeg', size: "600x400" %></div>
    </div>
  </div>
</div>


