         <div id="carouselExampleFade" class="carousel slide carousel-fade" data-ride="carousel" data-interval="2500" data-pause="false">
            <div class="carousel-inner">

              <div class="carousel-item active">

                     <%=image_tag "woman-570883_1280.jpg",alt: "First slide",class: "d-block w-100"%>

                  <div class="carousel-caption" style="top:50px">
                    <p class="text-background-test01">自分らしく</p>
                  </div>
              </div>

              <div class="carousel-item">
                <%=image_tag "woman-2564660_1280.jpg",alt: "Second slide",class: "d-block w-100"%>

                  <div class="carousel-caption" style="top:50px">
                    <p class="text-background-test01">もっとオシャレを楽しみたい</p>
                  </div>
              </div>
              <div class="carousel-item">

              <%=image_tag "marc-kleen-L9Zhig4EMLc-unsplash.jpg",alt: "Third slide",class: "d-block w-100"%>

                  <div class="carousel-caption" style="top:50px">
                    <p class="text-background-test01">
                      Welcome to Be yourself<br>
                      好きな自分を投稿しよう！
                    </p>
                 </div>
              </div>
            </div>
            <a class="carousel-control-prev" href="#carouselExampleFade" role="button" data-slide="prev">
               <span class="carousel-control-prev-icon" aria-hidden="true"></span>
               <span class="sr-only">Previous</span>
            </a>
               <a class="carousel-control-next" href="#carouselExampleFade" role="button" data-slide="next">
                 <span class="carousel-control-next-icon" aria-hidden="true"></span>
                 <span class="sr-only">Next</span>
               </a>
          </div>