// Place all the styles related to the homes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.text-background-test01{

text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.5);
font-weight: bold;
font-size: 2em;
font-family: cursive;

}

@media screen and (max-width: 768px) {
  .text-background-test01 {
    font-size: 1em;
    white-space: nowrap;
    position: absolute;
    top: 0;
  }
}





