// Place all the styles related to the PostImages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/



// サイドバー



ul{
  list-style: none;
  // padding: 0;
  // margin: 0;
}




.List {
  display: flex;
  justify-content: center
}
.List-Item {
  position: relative;
  color: #808080;
  font-size: 20px;
  list-style: none;
}
.List-Item:before {
  position: absolute;
  top: 50%;
  content: "|";
  display: block;
  transform: translate(-50%, -50%);
  color: #808080;
}
.List-Item-Link {
  padding-left: 40px;
  padding-right: 40px;
  text-decoration: none;
  color: inherit;
}



.post-wrap .col-md-8 {
  padding: 0px;
}

.card-right {
  padding: 20px;
}

.card-right-name {
  padding-bottom: 10px;
  border-bottom: 1px solid #e6e6e6;
  display: flex;
}

.card-right-comment {
  padding-bottom: 10px;
  border-bottom: 1px solid #e6e6e6;
  height: 320px;
  overflow: auto;
}

.postShow-wrap {
  border: 1px solid #e6e6e6;
  margin: 40px;
}

.post-user-name {
  display: flex;
  align-items: center;
  line-height: 0;
}

h2 {
  text-align: center;
}

.hashtag-name{
  text-indent: 10px;
}

.user_profile_image {
  .profile_image {
    object-fit: cover;
  }
}

@media screen and (max-width: 1100px) {
.img-container img {
  width: 400px;
  height: 500px;
 }
}

@media screen and (max-width: 425px) {
.img-container img {
  width: 300px;
  height: 400px;
 }
}