<%= render 'post_images/category' %>

<div class = "container">
  <div class = "row">

       <%= render 'post_images/index', post_images: @post_images%>


  </div>
 </div>
<%= paginate @post_images %>


<!--サイドバー-->



